
body {
  background-color:rgb(25, 85, 26);
  font-family:  'Varela', sans-serif;
}

#profilepage {
  border: solid white;
}
#firstline {
  border: solid white;
}

#video {
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 10px;
}

#video2 {
  margin-right: 75px;
  margin-left: 75px;
  margin-bottom: 10px;
}


#iconbutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}

#iconbutton:hover {
  opacity: 50%;
}

.firstline {
  display:flex;
  
}
#vegan {
  text-align: center;
  margin: .005px;
}



#empty {
  flex:80%;
  background-color:rgb(25, 85, 26);
  border: rgb(25, 85, 26);
}
#learn {
  flex: .00005%;
  background-color:black;
  color: white;
  font-family: 'Varela', sans-serif;
  font-size: 15px;
  width: 100px;
  height: 55px;

}
#chrome {
  flex: .00005%;
  background-color:black;
  color: white;
  font-family:  'Varela', sans-serif;
  font-size: 15px;
  width: 100px;
  height: 55px;
}

.text {
  color: white;
  font-family:  'Varela', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  
  /* height: 55px; */
  
}
#canyou {
  color: white;
  font-family:  'Varela', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin: .01px;
  /* height: 55px; */
  
}
.clickers {
  font-family:  'Varela', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
}

.bighd {
  display: flex;
}

#hd {
  color: black;
  font-family:  'Varela', sans-serif;
  font-size: 20px;
  /* display: flex;
  justify-content: center; */
  text-align: center;
  flex:50%;
}


#eco {
  color: black;
  font-family:  'Varela', sans-serif;
  font-size: 20px;
  /* display: flex;
  justify-content: center;*/
  text-align: center; 
  flex:50%;
}

#line {
  flex: 5%;
}

#text1 {
  background: black;
  margin: 10px;
  color: white;
  font-size: 15px;
  
  

}
#text2 {
  background: black;
  margin: 10px;
  color: white;
  font-size: 15px;

}

#learnmore {
  color: white;
  font-family:  'Varela', sans-serif;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  margin: 20px;
  background: black;
  
}

.displayco2 {
  color:white;
  margin: 21px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: white;
  margin: 20;

}

@font-face {
  font-family:  'Varela', sans-serif;
  src: url ('https://fonts.googleapis.com/css?family=Varela&display=swap')
 
}